.checkout-cont {
    display: flex;
    margin: 30px 0px;
    justify-content: center;
}

.checkout-left {
    width: 40%;
    margin: 0px 20px;
}

.checkout-right {
    width: 25%;
    margin: 0px 20px;
   
}

.log-check {
    background-color: rgba(225, 224, 224, .6);
    font-size: 15px;
    height: 50px;
    width: 100%;
}

.shipping-t {
    font-size: 25px;
    margin: 40px 0px;
}

.sinp-cont {
    margin-bottom: 35px;

}

.sinp-cont-flex {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.sinp-p {
    color: rgba(0, 0, 0, .8);
    font-size: 17px;
    display: inline-block;
    margin-bottom: 12px;
}

.sinp {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    width: 100%;
    background: none;
    /* border-radius: ; */
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: 18px;
}

.sinp:hover {
    border: 1px solid rgba(0, 0, 0, 1);
}

.sinp:focus {
    outline: 2px solid rgb(48 167 231 / 89%);
    /* outline-offset: 1cap; */
}

.sinp-half-cont {
    width: 45%;
    height: 50px;
}

.cont-btn {
    width: 100%;
    height: 50px;
    margin-top: 90px;
    border-radius: 4px;
    font-size: 18px;
}

.sinp-red {
    border: 1px solid red;
}

.sinp-error {
    color: red;
    margin-top: 10px;
    font-size: 15px;
}

.sinp-red:hover {
    border: 1px solid red;
}

.main-ship-t {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.not-active-cont{
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 30px 10px ;
}
.black-ship-t{
    margin:10px 0px ;
    margin-bottom: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.black-ship-t svg{
    margin-right:  10px;
}
.ship-text{
    margin: 7px 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}
.final-checkout-cont{
    width: 100%;
    position: sticky;
    top: 30px;
    background-color: rgba(225, 224, 224, .6);
    padding: 30px 30px;
}
.checkout-t{
    position: relative;
    font-size: 17px;
    font-weight: 600;
}
.checkout-items-cont{
width: 100%;
margin: 20px 0px;
max-height: 150px;
overflow-y: scroll;
}
.summary-cont{
    display: flex;
    position: relative;
    padding: 10px 10px;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.summary-img-cont{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.summary-name{
    font-size: 13px;
    max-width: 100px;
}
.summary-qtn{
    font-size: 12px;
    margin: 5px 0px;
    color: rgba(0, 0, 0, .8);
}
.summary-price{
    position: absolute;
    right:15px;
    top: 10px;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
}
.promo-cont{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 150px;
    /* background-color: aqua; */
    overflow: hidden;
}
.min-promo{
    height: 40px;
}
.promo-t{
    display: flex;
    align-items: top;
    height: 40px;
    cursor: pointer;
    /* padding-bottom:20px; */
}
.promo-t:hover{
    color: var(--primary-color);
}
.promo-t svg{
    margin-right: 10px;
}
.promo-input{
    /* margin-top: 30px; */
    width: 100%;
    padding: 0px 10px;
    height: 40px;
    font-size: 16px;
    background:none ;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5);
}
.promo-input:hover{
    border: 1px solid rgba(0, 0, 0, 1);;
}
.promo-input:focus{
    border: 1px solid rgba(0, 0, 0, 1);;
    /* outline: 2px solid rgb(48 167 231 / 89%); */
    
    background: white;
}
.promo-btn{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    font-size: 15px;
    border-radius: 2px;
}
.checkout-price-cont{
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.cpp{
    position: relative;
    font-size: 13px;
    margin: 20px 0px;
}
.cpp-p{
    position: absolute;
    right: 0;
    top: 0;

}
.checkout-total{
    position: relative;
    font-size: 23px;
    font-weight: 500;
    margin-top: 20px ;
}
.checkout-price{
    position: absolute;
    top: 0;
    right: 0;
}
.checkout-in{
    border-bottom:1px solid black;
    margin: 0 5px;
}