.cart-popup {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 380px;
    height: 100%;
    background-color: white;
}

.cart-top {
    width: 100%;
    height: 12%;
    position: relative;
    font-weight: 600;
    font-size: 19px;
    color: rgb(81, 81, 81);
}

.cart-popup-cont {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 88%;
    background-color: #282a2c;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    /* background-color: gainsboro; */
}

.cart-up {
    height: 60%;
    padding: 50px 0px;
    overflow-y: scroll;
}

.cart-up::-webkit-scrollbar {
    width: 0;
}

.cart-down {
    height: 40%;
    background-color: #343739;
    border-top-left-radius: 35px;
    padding: 0px 30px;
    position: relative;
    padding-top: 15px;
    border-top-right-radius: 35px;
}

.cart-arrow-svg {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    /* background-color: #343739; */
}

.cart-arrow-svg svg {
    font-size: 23px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    width: 84%;
    border-radius: 10px;
    align-items: center;
    /* height: 90px; */
    position: relative;
    /* background-color: #2e3033; */
    background-color: #444649;
    margin: 20px auto;
}

.cake-cart-remove {
    position: absolute;
    right: 10px;
    /* top: 50%; */
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease;

}

.cake-cart-remove svg {
    color: red;
    /* color: white; */
    font-size: 20px;
}

.cake-cart-remove:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cart-item-img {
    width: 70px;
    height: 70px;
    position: relative;
    margin: auto 15px;
    border-radius: 10px;
    overflow: hidden;
}

.cart-item-img img {
    object-fit: cover;
}

.cart-item-details {
    padding: 15px 0px;
}

.cake-cart-name {
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    width: 130px;
}

.cake-cart-price-cont {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cake-cart-price {
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    font-weight: 600;
}

.cake-cut-price-pro {
    color: rgba(0, 0, 0, .4);
    margin: 10px 0px;
}

.cake-cart-dot {
    width: 3px;
    height: 3px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .7);
}

.cake-cart-size {
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    width: 25px;
    height: 20px;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    margin-left: 4px;
}

.cake-cart-kg {
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    margin-right: 4px;
}

.cake-cart-size:hover {
    border-bottom: 1px solid white;
}

.cake-cart-msg {
    color: rgba(255, 255, 255, .8);
    font-size: 13px;
    display: flex;
    align-items: center;
}
.cake-cart-msg svg{
    font-size: 11px;
    transition: all .3s ease;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}
.cake-cart-msg svg:hover{
    color: rgb(2, 155, 194);
}

.cake-cart-change {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    transition: all .3s ease;
}

.cake-cart-change:hover {
    background-color: rgba(255, 255, 255, .3);
}


.cake-cart-change svg {
    color: white;
    font-size: 10px;
}

.cake-cart-subtotal {
    font-size: 16px;
    color: white;
    position: relative;
    display: flex;
    height: 30px;
    margin: 5px 0;
    align-items: center;
}

.ccst {
    position: absolute;
    right: 0px;
}

.cake-cart-total {
    font-size: 20px !important;
    font-weight: 600;
    position: relative;
    margin-top: 20px;
    color: var(--primary-color);
}

.ptc {
    width: calc(100% - 60px);
    /* margin: 20px 0; */
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    height: 40px;
}

.ptc:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cake-cart-loader{
    width: 100%;
    height: 100%;
}
.ctw{
    border: 4px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    border-top: 4px solid rgba(255, 255, 255, .9);
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
.cake-cart-msg-input{
    height: 20px;
    background: none;
    outline: none;
    border: none;
    margin-left: 3px;
    border-bottom: 1px solid white;
    width: 100px;
    font-size: 12px;
    color: white;
    
}