.login-cont {
  width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
  height: 520px;
  margin: auto auto;
  display: flex;
  /* background-color: black; */
}

.login-left-cont {
  width: 50%;
  transition: all .5s ease;
  height: 200%;
}

.login-right-cont {
  width: 50%;
  transition: all .5s ease;

  height: 200%;
}

.left-one {
  width: 100%;
  height: 50%;
  position: relative;
}

.left-one img {
  object-fit: cover;
}

.left-two {
  height: 50%;
  width: 100%;
  background-color: #fff;
}

.login-inner {
  flex-direction: column;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-t {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  /* padding: 30px 0px 20px 0px; */
  margin-bottom: 20px;
}

.login-inp {
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin: 10px 0px;
  /* background-color: aqua; */
  border: none;
  background: none;
  padding: 0 5px;
  margin-bottom: 25px;
  outline: none;
  /* border-radius: 15px; */
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.login-inp:hover, .half-inp:hover, .react-tel-input .form-control:hover {
  border-bottom: 1px solid var(--primary-color) !important;
}

.login-inp:focus, .half-inp:focus, .react-tel-input .form-control:focus {
  border-bottom: 2px solid var(--primary-color) !important;
}

.pass-cont {
  position: relative;
}

.eye-cont {
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  right: 0px;
  top: 0;
  width: 37px;
  height: 69px;
  /* background-color: aqua; */
  z-index: 2;
}

.eye-cont svg {
  font-size: 20px;
  /* transition: all .3s ease; */
  cursor: pointer;
}

.eye-cont svg:hover {
  color: var(--primary-color);
}

.login-btn {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
}

.login-btn:hover {
  background: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.login-btn:hover .login-load{
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  border-top: 3px solid var(--primary-color);
}
.not-up {
  font-size: 14px;
  text-align: center;
  margin: 10px 0px;
}

.not-up span {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.not-up span::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all .3s ease;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  content: "";
  transform: scaleX(0);
  transform-origin: left;
}

.not-up span:hover::after {
  transform: scaleX(1);
}

.gender-option {
  font-size: 14px;
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 02px;
}

.gender-cont {
  width: 30px;
  height: 30px;
  /* border: 1px solid var(--primary-color); */
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 5px;
  position: relative;
}

.gender-inner-cont img {
  object-fit: contain;
}

.name-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
}

.half-inp-cont {
  width: 45%;
}

.half-inp {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  outline: none;
  margin: 10px 0px;
  padding: 0 5px;
}

.login-left-cont .login-inp {
  margin: 10px 0 !important;
}

.gender-name {
  color: rgba(0, 0, 0, .6);
  padding-left: 5px;
}

.phone-div {
  margin: 10px 0px;
}

.phone-div label {
  color: rgba(0, 0, 0, .6);
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 14px;
}

.gender-t {
  color: rgba(0, 0, 0, .8);
  margin-left: 5px;
}

.react-tel-input .form-control {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .3) !important;
}

.react-tel-input {
  /* overflow-x: hidden!important; */
  margin-top: 5px;
}

.signup-btn {
  margin-top: 20px !important;
}

.inp-rel {
  position: relative;
}

.error-p {
  position: absolute;
  left: 0px;
  bottom: -8px;
  color: red;
  font-size: 13px;
}
.error {
  color: red;
  margin-top: -20px;
  font-size: 13px;
}
.login-error{
  color: red;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 13px;
}


.phone-error {
  bottom: -19px;
}

.gender-err {
  bottom: -18px;
}

.inp-cont {
  width: 100%;
  height: 40px;
  border-bottom: rgba(0, 0, 0, .3);
  display: flex;
}
.inp-cont input:hover{
  border-bottom: 1px solid var(--primary-color);
}
.inp-cont:focus{
  border-bottom: 2px solid var(--primary-color);
}
.login-svg-cont {
  width: 40px;
  background: none;
  height: 40px;
}

.login-input {
  width: calc(100% - 40px);
  height: 40px;
  border: none;
  outline: none;
  /* padding: 0 5px; */
  font-size: 15px;
  /* border-bottom: rgba(0, 0, 0, .3); */
}
.login-load{
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    border-top: 3px solid rgba(255, 255, 255, 1);
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}